{% extends 'base.html' %}
{% block title %} Tracking WW45.2017 {% endblock %}
{% block nav_bar %}
    <li class="nav nav-item" style="padding-right: 15px; padding-top: 5px">
        <label>WW45 2017</label>
    </li>
    <li class="nav nav-item" style="padding-right: 15px; padding-top: 5px">
        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#IncidentModalCenter">New incident
            <i class="fa fa-plus-circle fa-1x"
               style="color: black"></i>
        </button>
    </li>
    <li class="nav nav-item" style="padding-right: 15px; padding-top: 5px">
        <button class="btn btn-default btn-sm" disabled style="border-color: red"><i class="fa fa-th-list"></i>
        </button>
        &nbsp;
        &nbsp;
        <button class="btn btn-default btn-sm"><i class="fa fa-bars"></i>
        </button>
    </li>
{% endblock %}
{% block body %}

    <style>

        /* TOGGLE STYLING */
        .toggle {
            margin: 0 0 1.5rem;
            box-sizing: border-box;
            padding-left: 3px;
            font-size: 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: stretch;
        }

        .toggle input {
            width: 0;
            height: 0;
            position: absolute;
            left: -9999px;
        }

        .toggle input + label {
            margin: 0;
            padding: .30rem 1.35rem;
            box-sizing: border-box;
            position: relative;
            display: inline-block;
            border: solid 1px #DDD;
            background-color: #FFF;
            font-size: 1rem;
            line-height: 70%;
            font-weight: 300;
            text-align: center;
            box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            transition: border-color .15s ease-out, color .25s ease-out, background-color .15s ease-out, box-shadow .15s ease-out;
            /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
            /*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
            /* ----- */
        }

        .toggle input + label:first-of-type {
            border-radius: 6px 0 0 6px;
            border-right: none;
        }

        .toggle input + label:last-of-type {
            border-radius: 0 6px 6px 0;
            border-left: none;
        }

        .toggle input:hover + label {
            border-color: #213140;
        }

        .toggle input:checked + label {
            background-color: #4B9DEA;
            color: #FFF;
            box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
            border-color: #4B9DEA;
            z-index: 1;
        }

        .droptarget {
            border: 2px solid #aaaaaa;
            border-radius: 15px;
        }

        .droptarget:hover {
            cursor: move;
            border-style: dashed;
        }

        .col-sm-3 {
            border-right: 1px solid #aaaaaa;
            border-bottom: 1px solid #aaaaaa;
        }

        .col-panel {
            height: 81vh;
            padding-top: 5px;
            padding-left: 0;
            padding-right: 0;
            overflow-y: scroll;
            background-color: #f6f6f6;
        }

        .col-status {
            background-color: #0171c5;
            width: 100%;
            height: 24px;
        }

        .col-status p {
            color: white;
            text-align: center;
        }

        .dragging div {
            opacity: 1;
        }

        .hover div {
            background-color: rgba(207, 207, 207, 0.95);
            opacity: .55;
            color: black;
        }

        .verticalLine {
            border-left: 1.2rem solid #0171c5;
            border-radius: 15px;
        }

        .card-footer {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            text-align: right;
        }

        .date-label {
            font-weight: inherit;
            font-size: 14px;
        }

        .panel_detail {
            width: 80% !important;
        }

        #main {
            height: 79vh;
            overflow: hidden;
        }

        #l {
            text-align: center;
            height: 85vh;
            width: 19%;
            overflow-y: scroll;
            position: fixed;
            top: 55px;
            background-color: #f9f9f9;
            padding: 5px;
            right: 10px;
        }

        #r {
            position: fixed;
            top: 55px;
            width: 99%;
            height: 95%;
            background-color: #f5f5f5;
            border-right: 1px solid #353535;
        }

        .description-detail {
            text-align: left;
            border: none;
            font-size: 14px;
        }


    </style>
    <div id="main">
        <div id="l">
            <div class="card">
                <div class="card-header" style="padding: 0 !important;">
                    <label id="detail-name"></label>
                    <button type="button" class="close" onclick="closePanelDetail()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div align="center">
                        <div class="toggle">
                            <input type="radio" name="sizeBy" value="Open" id="chOpen" checked="checked"/>
                            <label for="chOpen">O</label>
                            <input type="radio" name="sizeBy" value="In_Progress" id="chInProgress"/>
                            <label for="chInProgress">I</label>
                            <input type="radio" name="sizeBy" value="Done" id="chDone"/>
                            <label for="chDone">D</label>
                            <input type="radio" name="sizeBy" value="Blocked" id="chBlocked"/>
                            <label for="chBlocked"><i class="fa fa-ban" style="color: red"></i> </label>
                        </div>
                    </div>
                </div>


                <div class="card-body" id="detail-body">

                </div>
                <div class="card-header">
                    <button class="btn btn-primary btn-sm">Update Incident</button>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 5%;" id="r">
            <div class="col-sm-3 col-status">
                <div class="col-status"><p>Open</p></div>
            </div>
            <div class="col-sm-3 col-status">
                <div class="col-status"><p>In_Progress</p></div>
            </div>
            <div class="col-sm-3 col-status">
                <div class="col-status"><p>Done</p></div>
            </div>
            <div class="col-sm-3 col-status">
                <div class="col-status"><p>Blocked</p></div>
            </div>

            <div class="col-sm-3 col-panel" ondrop="drop(event)" ondragover="allowDrop(event)" id="Open">
                {% for incident in incidents.Open %}
                    <div ondragstart="dragStart(event)" ondrag="dragging(event)" draggable="true"
                         ondragover="dragOver(event)"
                         id="{{ incident.custom_id }}" class="droptarget">
                        <div class="card verticalLine">
                            <div class="card-header" style="padding: 0 !important;">
                                inc_{{ incident.custom_id }}
                            </div>
                            <div class="card-body">
                                <h6 class="card-title mb-2 text-muted">{{ incident.title }}
                                    by {{ incident.created_by }}</h6>
                                <label class="date-label">
                                    Start Date: <b>WW{{ incident.start_date.ww }}</b><br>
                                    Due Date: <b>WW{{ incident.due_date.ww }}</b>
                                </label>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="card-link" onclick="panelDetail(this, {{ incident.custom_id }})"><i
                                        class="fa fa-tasks"></i></a>
                                <a href="#" class="card-link"><i class="fa fa-tags"></i> {{ incident.tags|length }}</a>
                                <a href="#" class="card-link"><i
                                        class="fa fa-comment"></i> {{ incident.comments|length }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-3 col-panel" ondrop="drop(event)" ondragover="allowDrop(event)" id="In_Progress">
                {% for incident in incidents.In_Progress %}
                    <div ondragstart="dragStart(event)" ondrag="dragging(event)" draggable="true"
                         ondragover="dragOver(event)"
                         id="{{ incident.custom_id }}" class="droptarget">
                        <div class="card verticalLine">
                            <div class="card-header" style="padding: 0 !important;">
                                inc_{{ incident.custom_id }}
                            </div>
                            <div class="card-body">
                                <h6 class="card-title mb-2 text-muted">{{ incident.title }}
                                    by {{ incident.created_by }}</h6>
                                <label class="date-label">
                                    Start Date: <b>WW{{ incident.start_date.ww }}</b><br>
                                    Due Date: <b>WW{{ incident.due_date.ww }}</b>
                                </label>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="card-link" onclick="panelDetail(this, {{ incident.custom_id }})"><i
                                        class="fa fa-tasks"></i></a>
                                <a href="#" class="card-link"><i class="fa fa-tags"></i> {{ incident.tags|length }}</a>
                                <a href="#" class="card-link"><i
                                        class="fa fa-comment"></i> {{ incident.comments|length }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-3 col-panel" ondrop="drop(event)" ondragover="allowDrop(event)" id="Done">
                {% for incident in incidents.Done %}
                    <div ondragstart="dragStart(event)" ondrag="dragging(event)" draggable="true"
                         ondragover="dragOver(event)"
                         id="{{ incident.custom_id }}" class="droptarget">
                        <div class="card verticalLine">
                            <div class="card-header" style="padding: 0 !important;">
                                inc_{{ incident.custom_id }}
                            </div>
                            <div class="card-body">
                                <h6 class="card-title mb-2 text-muted">{{ incident.title }}
                                    by {{ incident.created_by }}</h6>
                                <label class="date-label">
                                    Start Date: <b>WW{{ incident.start_date.ww }}</b><br>
                                    Due Date: <b>WW{{ incident.due_date.ww }}</b>
                                </label>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="card-link" onclick="panelDetail(this, {{ incident.custom_id }})"><i
                                        class="fa fa-tasks"></i></a>
                                <a href="#" class="card-link"><i class="fa fa-tags"></i> {{ incident.tags|length }}</a>
                                <a href="#" class="card-link"><i
                                        class="fa fa-comment"></i> {{ incident.comments|length }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-3 col-panel" ondrop="drop(event)" ondragover="allowDrop(event)" id="Blocked">
                {% for incident in incidents.Blocked %}
                    <div ondragstart="dragStart(event)" ondrag="dragging(event)" draggable="true"
                         ondragover="dragOver(event)"
                         id="{{ incident.custom_id }}" class="droptarget">
                        <div class="card verticalLine">
                            <div class="card-header" style="padding: 0 !important;">
                                inc_{{ incident.custom_id }}
                            </div>
                            <div class="card-body">
                                <h6 class="card-title mb-2 text-muted">{{ incident.title }}
                                    by {{ incident.created_by }}</h6>
                                <label class="date-label">
                                    Start Date: <b>WW{{ incident.start_date.ww }}</b><br>
                                    Due Date: <b>WW{{ incident.due_date.ww }}</b>
                                </label>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="card-link" onclick="panelDetail(this, {{ incident.custom_id }})"><i
                                        class="fa fa-tasks"></i></a>
                                <a href="#" class="card-link"><i class="fa fa-tags"></i> {{ incident.tags|length }}</a>
                                <a href="#" class="card-link"><i
                                        class="fa fa-comment"></i> {{ incident.comments|length }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <script>
        function dragStart(event) {
            event.dataTransfer.setData("Text", event.target.id);
            event.target.classList.add("hover");
        }

        function dragging(event) {
            event.target.classList.add("dragging");
        }

        function allowDrop(event) {
            event.preventDefault();
        }

        function dragOver(event) {
            cancelDefault(event);
            event.target.classList.remove("hover", "dragging");
        }

        function cancelDefault(event) {
            event.target.classList.remove("hover", "dragging");
            event.preventDefault();
            event.stopPropagation();
            return false;
        }

        function drop(event) {
            event.preventDefault();
            var data = event.dataTransfer.getData("Text");
            var str = event.target.className;
            if (str.includes("col-panel")) {
                console.log(event.target.id);
                event.target.appendChild(document.getElementById(data));
                document.getElementById(data).classList.remove("hover", "dragging");
            }
        }

        var incidents = "{{ incidents|safe }}";
        incidents = incidents.replace(/'/g, '"');
        var json = JSON.parse(incidents || '{}');

        function send(from, custom_id) {
            var data = json[from];
            for (var event in data) {
                var dataCopy = data[event];
                if (dataCopy['custom_id'] === custom_id) {
                    return dataCopy;
                }
            }

            return false;
        }

        function panelDetail(parent, custom_id) {
            document.getElementById('r').classList.add('panel_detail');
            var panelName = parent.parentElement.parentElement.parentElement.parentElement.id;
            var panelInfoDetail = send(panelName, custom_id);
            if (panelInfoDetail === false) {
                alert('Fatal error: ID does not match with status!!!');
            }
            else {
                console.log();
                var radios = document.getElementsByName('sizeBy');
                for(var i=0; i<radios.length; i++){
                    radios[i].checked = radios[i].value === panelInfoDetail.status;
                }
                $('#detail-name').text("inc_" + panelInfoDetail.custom_id);
                $('#detail-body').html('<h6 class="card-title mb-2 text-muted">' + panelInfoDetail.title + '\n' +
                    '                        by ' + panelInfoDetail.created_by + '</h6>\n' +
                    '                    <label class="date-label">\n' +
                    '                        Start Date: <b>' + panelInfoDetail.start_date.str_date + '</b><br>\n' +
                    '                        Due Date: <b>' + panelInfoDetail.due_date.str_date + '</b>\n' +
                    '                    </label><hr><label>Description</label>' +
                    '<textarea class="description-detail">' + panelInfoDetail.description + '</textarea>');
            }
        }

        function closePanelDetail() {
            if (document.getElementById('r').classList.contains('panel_detail')) {
                document.getElementById('r').classList.remove('panel_detail');
            }
        }


    </script>
    {% include 'tracking/new_incident.html' %}
{% endblock %}