{% extends 'base.html' %}
{% block title %} Tracking WW45.2017 {% endblock %}
{% block nav_bar %}
    <li class="nav nav-item" style="padding-right: 15px; padding-top: 5px">
        <label>WW{{ ww }} {{ year }}</label>
    </li>
    <li class="nav nav-item" style="padding-right: 15px; padding-top: 5px">
        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#IncidentModalCenter">New incident
            <i class="fa fa-plus-circle fa-1x"
               style="color: black"></i>
        </button>
    </li>
    <li class="nav nav-item" style="padding-right: 15px; padding-top: 5px">
        <button class="btn btn-default btn-sm" disabled style="border-color: red"><i class="fa fa-th-list"></i>
        </button>
        &nbsp;
        &nbsp;
        <button class="btn btn-default btn-sm"><i class="fa fa-bars"></i>
        </button>
    </li>
{% endblock %}
{% block body %}

    <style>
        .droptarget {
            border: 2px solid #aaaaaa;
            border-radius: 15px;
        }

        .droptarget:hover {
            cursor: move;
            border-style: dashed;
        }

        .col-sm-3 {
            border-right: 1px solid #aaaaaa;
            border-bottom: 1px solid #aaaaaa;
        }

        .col-panel {
            height: 81vh;
            padding-top: 5px;
            padding-left: 0;
            padding-right: 0;
            overflow-y: scroll;
            background-color: #f6f6f6;
        }

        .col-status {
            background-color: #0171c5;
            width: 100%;
            height: 24px;
        }

        .col-status p {
            color: white;
            text-align: center;
        }

        .dragging div {
            opacity: 1;
        }

        .hover div {
            background-color: rgba(207, 207, 207, 0.95);
            opacity: .55;
            color: black;
        }

        .verticalLine {
            border-left: 1.2rem solid #0171c5;
            border-radius: 15px;
        }

        .card-footer {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            text-align: right;
        }

        .date-label {
            font-weight: inherit;
            font-size: 14px;
        }

        .panel_detail {
            width: 80% !important;
        }

        #main {
            height: 79vh;
            overflow: hidden;
        }

        #l {
            text-align: center;
            height: 85vh;
            width: 19%;
            overflow-y: scroll;
            position: fixed;
            top: 55px;
            background-color: #f9f9f9;
            padding: 5px;
            right: 10px;
        }

        #r {
            position: fixed;
            top: 55px;
            width: 99%;
            height: 95%;
            background-color: #f5f5f5;
            border-right: 1px solid #353535;
        }

        .description-detail {
            text-align: left;
            border: none;
            font-size: 14px;
        }

        .editable {
            background-color: white;
            border: 2px dashed #aaaaaa;

        }


    </style>
    <div id="main">
        <div id="l">
            <div class="card">
                <div class="card-header" style="padding: 0 !important;">
                    <label id="detail-name"></label>
                    <button type="button" class="close" onclick="closePanelDetail()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div id="detail-title">

                    </div>
                    <div align="center">
                        <hr>
                        {% include 'tracking/components/status_toggle_block.html' %}
                    </div>
                </div>


                <div class="card-body" id="detail-body">

                </div>
                <label for='detail-tags' class="date-label">Tags</label>
                <div align="left" id="div-detail-tags">
                    <input class='form-control' id="detail-tags" type='detail-tags' name="detail-tags">
                    <hr>
                </div>
                <div class="card-header">
                    <button class="btn btn-primary btn-sm">Update Incident</button>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 5%;" id="r">
            <div class="col-sm-3 col-status">
                <div class="col-status"><p>Open</p></div>
            </div>
            <div class="col-sm-3 col-status">
                <div class="col-status"><p>In_Progress</p></div>
            </div>
            <div class="col-sm-3 col-status">
                <div class="col-status"><p>Done</p></div>
            </div>
            <div class="col-sm-3 col-status">
                <div class="col-status"><p>Blocked</p></div>
            </div>

            <div class="col-sm-3 col-panel" ondrop="drop(event)" ondragover="allowDrop(event)" id="Open">
                {% for incident in incidents.Open %}
                    <div ondragstart="dragStart(event)" ondrag="dragging(event)" draggable="true"
                         ondragover="dragOver(event)"
                         id="{{ incident.custom_id }}" class="droptarget">
                        <div class="card verticalLine">
                            <div class="card-header" style="padding: 0 !important;">
                                inc_{{ incident.custom_id }}
                            </div>
                            <div class="card-body">
                                <h6 class="card-title mb-2 text-muted">{{ incident.title }}
                                    by {{ incident.created_by }}</h6>
                                <label class="date-label">
                                    Start Date: <b>WW{{ incident.start_date.ww }}</b><br>
                                    Due Date: <b>WW{{ incident.due_date.ww }}</b>
                                </label>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="card-link" onclick="panelDetail(this, {{ incident.custom_id }})"><i
                                        class="fa fa-tasks"></i></a>
                                <span class="card-link"><i class="fa fa-user-clock"></i> {{ incident.activity|length }}</span>
                                <span class="card-link" data-toggle="modal" data-target="#commentModalCenter"><i
                                        class="fa fa-comment" onclick="get_comments({{ incident.custom_id }})"></i> {{ incident.comments|length }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-3 col-panel" ondrop="drop(event)" ondragover="allowDrop(event)" id="In_Progress">
                {% for incident in incidents.In_Progress %}
                    <div ondragstart="dragStart(event)" ondrag="dragging(event)" draggable="true"
                         ondragover="dragOver(event)"
                         id="{{ incident.custom_id }}" class="droptarget">
                        <div class="card verticalLine">
                            <div class="card-header" style="padding: 0 !important;">
                                inc_{{ incident.custom_id }}
                            </div>
                            <div class="card-body">
                                <h6 class="card-title mb-2 text-muted">{{ incident.title }}
                                    by {{ incident.created_by }}</h6>
                                <label class="date-label">
                                    Start Date: <b>WW{{ incident.start_date.ww }}</b><br>
                                    Due Date: <b>WW{{ incident.due_date.ww }}</b>
                                </label>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="card-link" onclick="panelDetail(this, {{ incident.custom_id }})"><i
                                        class="fa fa-tasks"></i></a>
                                <span class="card-link"><i class="fa fa-user-clock"></i> {{ incident.activity|length }}</span>
                               <span class="card-link" data-toggle="modal" data-target="#commentModalCenter"><i
                                        class="fa fa-comment" onclick="get_comments({{ incident.custom_id }})"></i> {{ incident.comments|length }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-3 col-panel" ondrop="drop(event)" ondragover="allowDrop(event)" id="Done">
                {% for incident in incidents.Done %}
                    <div ondragstart="dragStart(event)" ondrag="dragging(event)" draggable="true"
                         ondragover="dragOver(event)"
                         id="{{ incident.custom_id }}" class="droptarget">
                        <div class="card verticalLine">
                            <div class="card-header" style="padding: 0 !important;">
                                inc_{{ incident.custom_id }}
                            </div>
                            <div class="card-body">
                                <h6 class="card-title mb-2 text-muted">{{ incident.title }}
                                    by {{ incident.created_by }}</h6>
                                <label class="date-label">
                                    Start Date: <b>WW{{ incident.start_date.ww }}</b><br>
                                    Due Date: <b>WW{{ incident.due_date.ww }}</b>
                                </label>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="card-link" onclick="panelDetail(this, {{ incident.custom_id }})"><i
                                        class="fa fa-tasks"></i></a>
                                <span class="card-link"><i class="fa fa-user-clock"></i> {{ incident.activity|length }}</span>
                                <span class="card-link" data-toggle="modal" data-target="#commentModalCenter"><i
                                        class="fa fa-comment" onclick="get_comments({{ incident.custom_id }})"></i> {{ incident.comments|length }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-3 col-panel" ondrop="drop(event)" ondragover="allowDrop(event)" id="Blocked">
                {% for incident in incidents.Blocked %}
                    <div ondragstart="dragStart(event)" ondrag="dragging(event)" draggable="true"
                         ondragover="dragOver(event)"
                         id="{{ incident.custom_id }}" class="droptarget">
                        <div class="card verticalLine">
                            <div class="card-header" style="padding: 0 !important;">
                                inc_{{ incident.custom_id }}
                            </div>
                            <div class="card-body">
                                <h6 class="card-title mb-2 text-muted">{{ incident.title }}
                                    by {{ incident.created_by }}</h6>
                                <label class="date-label">
                                    Start Date: <b>WW{{ incident.start_date.ww }}</b><br>
                                    Due Date: <b>WW{{ incident.due_date.ww }}</b>
                                </label>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="card-link" onclick="panelDetail(this, {{ incident.custom_id }})"><i
                                        class="fa fa-tasks"></i></a>
                                <span class="card-link"><i class="fa fa-user-clock"></i> {{ incident.activity|length }}</span>
                                <span class="card-link" data-toggle="modal" data-target="#commentModalCenter"><i
                                        class="fa fa-comment" onclick="get_comments({{ incident.custom_id }})"></i> {{ incident.comments|length }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <script>
        function dragStart(event) {
            event.dataTransfer.setData("Text", event.target.id);
            event.target.classList.add("hover");
        }

        function dragging(event) {
            event.target.classList.add("dragging");
        }

        function allowDrop(event) {
            event.preventDefault();
        }

        function dragOver(event) {
            cancelDefault(event);
            event.target.classList.remove("hover", "dragging");
        }

        function cancelDefault(event) {
            event.target.classList.remove("hover", "dragging");
            event.preventDefault();
            event.stopPropagation();
            return false;
        }

        function drop(event) {
            event.preventDefault();
            var data = event.dataTransfer.getData("Text");
            var str = event.target.className;
            if (str.includes("col-panel")) {
                $.ajax({
                    type: "POST",
                    url: '{% url 'tracking:update_status'%}',
                    data: {
                        'status': event.target.id,
                        'custom_id': data
                    },
                    dataType: 'json',
                    success: function (datax) {
                        if (datax.success) {
                            location.reload();
                        } else {
                            alert('Error: ' + datax.exception);
                        }


                    }
                });
                event.target.appendChild(document.getElementById(data));
                document.getElementById(data).classList.remove("hover", "dragging");
            }
        }

        var merged = [];
        var incidents_ = "{{ incidents.Open|safe }}";
        incidents_ = incidents_.replace(/'/g, '"');
        var _json = JSON.parse(incidents_ || '{}');
        for (key in _json)
            merged.push(_json[key]);

        incidents_ = "{{ incidents.In_Progress|safe }}";
        incidents_ = incidents_.replace(/'/g, '"');
        _json = JSON.parse(incidents_ || '{}');
        for (key in _json)
            merged.push(_json[key]);
        incidents_ = "{{ incidents.Done|safe }}";
        incidents_ = incidents_.replace(/'/g, '"');
        _json = JSON.parse(incidents_ || '{}');
        for (key in _json)
            merged.push(_json[key]);
        incidents_ = "{{ incidents.Blocked|safe }}";
        incidents_ = incidents_.replace(/'/g, '"');
        _json = JSON.parse(incidents_ || '{}');
        for (key in _json)
            merged.push(_json[key]);


        function send(custom_id) {
            for (var event in merged) {
                var dataCopy = merged[event];
                if (dataCopy['custom_id'] === custom_id) {
                    return dataCopy;
                }
            }

            return false;
        }

        function panelDetail(parent, custom_id) {
            document.getElementById('r').classList.add('panel_detail');
            var panelInfoDetail = send(custom_id);
            if (panelInfoDetail === false) {
                alert('Fatal error: ID does not match with status!!!');
            }
            else {
                var radios = document.getElementsByName('sizeBy');
                for (var i = 0; i < radios.length; i++) {
                    radios[i].checked = radios[i].value === panelInfoDetail.status;
                }
                var div1 = document.getElementById('div-detail-tags');
                var tags = panelInfoDetail.tags;
                var tags_text = "";
                for (i in tags) {
                    tags_text += '<span class="tag" data-tag="' + tags[i] + '">' + tags[i] + '</span>';
                }
                tags_text += '<input type="text">';
                div1.children[1].innerHTML = tags_text;

                $('#detail-name').text("inc_" + panelInfoDetail.custom_id);
                $('#detail-title').html('<h6 class="card-title mb-2 text-muted" onclick="edit(this)" onblur="not_editable(this)">' + panelInfoDetail.title + '</h6>\n' +
                    '                        <span class="card-title mb-2 text-muted">by ' + panelInfoDetail.created_by + '</span>\n');
                $('#detail-body').html('<label class="date-label">\n' +
                    '                        Start Date: <input class="form-control" type="date" id="detail-start-date" name="detail-start-date"\n' +
                    '                                   value="' + panelInfoDetail.start_date.str_date + '"></input><br>\n' +
                    '                        Due Date: <input class="form-control" type="date" id="detail-due-date" name="detail-due-date"\n' +
                    '                                   value="' + panelInfoDetail.due_date.str_date + '"></input>\n' +
                    '                    </label><hr><label class="date-label">Description</label>' +
                    '<h2 class="form-control description-detail" onclick="edit(this)" onblur="not_editable(this)">' + panelInfoDetail.description + '</h2><hr>');
            }
        }

        function edit(element) {
            element.setAttribute('contenteditable', true);
            element.classList.add('editable');
        }

        function not_editable(element) {
            element.removeAttribute('contenteditable');
            element.classList.remove('editable');
        }

        function closePanelDetail() {
            if (document.getElementById('r').classList.contains('panel_detail')) {
                document.getElementById('r').classList.remove('panel_detail');
            }
        }


    </script>
    {% include 'tracking/new_incident.html' %}
    {% include 'tracking/components/comments_dialog.html' %}
{% endblock %}